[submodule "ext/peg-parser"]
	path = ext/peg-parser
	url = https://github.com/dylan-lang/peg-parser.git
[submodule "ext/slot-visitor"]
	path = ext/slot-visitor
	url = https://github.com/dylan-lang/slot-visitor.git
[submodule "ext/sequence-stream"]
	path = ext/sequence-stream
	url = https://github.com/dylan-lang/sequence-stream.git
